# Web Scrapping

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd 
import numpy as np

In [3]:
# driver = webdriver.Chrome()
# driver.get("https://www.iproperty.com.my/sale/penang/all-residential/")

# time.sleep(3) 

# for i in range(25):
#     try:
#         # property_container = driver.find_element(By.XPATH, ".//div[@class='ListingsListstyle__ListingResultPage-iIneXB dBXYzA']")
#         property_container = driver.find_element(By.XPATH, "//ul[@class='ListingsListstyle__ListingsListContainer-dAfITF hkxQlK listing-list']")
#         print(property_container)
#         properties = property_container.find_elements(By.CSS_SELECTOR, ".ListingsListstyle__ListingListItemWrapper-hjHtwj.eUjjMH.sale-102366737")
        
#         properties[i].click()
#         time.sleep(2)  # Wait for the new page to load
        
#         # Extract the property name using the correct selector
#         property_name = WebDriverWait(driver, 10).until(
#             EC.presence_of_element_located((By.TAG_NAME, "h1"))
#         ).text
        
#         property_address = WebDriverWait(driver, 10).until(
#             EC.presence_of_element_located((By.TAG_NAME, "h3"))
#         ).text

#         property_size = WebDriverWait(driver, 10).until(
#             EC.presence_of_element_located((By.XPATH, ".//div[@class='ListingDescriptionstyle__Headline-CtOKw gDpweD']"))
#         ).text

#         try:
#             show_more_button = WebDriverWait(driver, 10).until(
#                 EC.presence_of_element_located((By.XPATH, ".//div[@id='property-details']//a[contains(text(),'Show more')]"))
#             )
#             show_more_button.click()
#             time.sleep(1)  
#         except:
#             # print("No 'Show More' button found, or couldn't click it.")
#             print(0)

#         try:
#         # Extract the property details
#             property_details = WebDriverWait(driver, 5).until(
#             EC.presence_of_element_located((By.XPATH, ".//div[@id='property-details']"))
#             ).text
            
#         except: 
#             # print('No property details skipping for now.')
#             # same thing but just to clean data easier 
#             print(0)
        
#         # print(f"Property Name: {property_name}, Property Address: {property_address}, Property Size: {property_size}")
#         # print(f'Property Details: {property_details}')
        
#         driver.back()  # Go back to the listings page
#         time.sleep(3)
        
#     except Exception as e:
#         print(f"Error: {e}")
#         continue

# driver.quit()

In [4]:
# driver = webdriver.Chrome()
# driver.get("https://www.iproperty.com.my/sale/penang/all-residential/")
# time.sleep(3)

# try:
#     property_container = WebDriverWait(driver, 10).until(
#         EC.presence_of_element_located((By.XPATH, "//ul[@class='ListingsListstyle__ListingsListContainer-dAfITF hkxQlK listing-list']"))
#     )
#     properties = property_container.find_elements(By.XPATH, ".//li[contains(@class, 'ListingsListstyle__ListingListItemWrapper-hjHtwj')]")

#     print(f"Found {len(properties)} properties")

#     for prop in properties:
#         try:
#             property_name = prop.find_element(By.XPATH, ".//h2").text
#             property_price = prop.find_element(By.XPATH, "//li[@class='ListingPricestyle__ItemWrapper-etxdML ejAiy']").text
#             # property_details = prop.find_element(By.XPATH, "//p[contains(@class, 'ListingAttributesstyle__ListingAttrsDescriptionItemWrapper') and contains(@class, 'attributes-description-item')]").text
            
#             prop.click()
#             try:
#                 show_more_button = WebDriverWait(driver, 10).until(
#                     EC.presence_of_element_located((By.XPATH, ".//div[@id='property-details']//a[contains(text(),'Show more')]"))
#                 )
#                 show_more_button.click()
#                 time.sleep(1)  
#             except:
#                 # print("No 'Show More' button found, or couldn't click it.")
#                 print(0)
    
#             try:
#                 # Extract the property details
#                 property_details = WebDriverWait(driver, 10).until(
#                 EC.presence_of_element_located((By.XPATH, "//div[@id='property-details']"))
#                 ).text
                
#             except: 
#                 # print('No property details skipping for now.')
#                 # same thing but just to clean data easier 
#                 print(0)

#             driver.back()  # Go back to the listings page
#             time.sleep(2)
            
            
#             print(f"Property Name: {property_name}")
#             print(f"Price: {property_price}")
#             print(f"Details: {property_details}")
#             print("-" * 50)

#         except Exception as e:
#             print(f"Error extracting property details: {e}")

# except Exception as e:
#     print(f"Error: {e}")

# finally:
#     driver.quit()

# Dataset (from the goat)

In [6]:
df = pd.read_csv('mudah-apartment-kl-selangor.csv')
df.head()

,ads_id,prop_name,completion_year,monthly_rent,location,property_type,rooms,parking,bathroom,size,furnished,facilities,additional_facilities,region
0,100323185,The Hipster @ Taman Desa,2022.0,RM 4 200 per month,Kuala Lumpur - Taman Desa,Condominium,5,2.0,6.0,1842 sq.ft.,Fully Furnished,"Minimart, Gymnasium, Security, Playground, Swi...","Air-Cond, Cooking Allowed, Washing Machine",Kuala Lumpur
1,100203973,Segar Courts,NaN,RM 2 300 per month,Kuala Lumpur - Cheras,Condominium,3,1.0,2.0,1170 sq.ft.,Partially Furnished,"Playground, Parking, Barbeque area, Security, ...","Air-Cond, Cooking Allowed, Near KTM/LRT",Kuala Lumpur
2,100323128,Pangsapuri Teratak Muhibbah 2,NaN,RM 1 000 per month,Kuala Lumpur - Taman Desa,Apartment,3,NaN,2.0,650 sq.ft.,Fully Furnished,"Minimart, Jogging Track, Lift, Swimming Pool",NaN,Kuala Lumpur
3,100191767,Sentul Point Suite Apartment,2020.0,RM 1 700 per month,Kuala Lumpur - Sentul,Apartment,2,1.0,2.0,743 sq.ft.,Partially Furnished,"Parking, Playground, Swimming Pool, Squash Cou...","Cooking Allowed, Near KTM/LRT, Washing Machine",Kuala Lumpur
4,97022692,Arte Mont Kiara,NaN,RM 1 299 per month,Kuala Lumpur - Mont Kiara,Service Residence,1,1.0,1.0,494 sq.ft.,Not Furnished,"Parking, Security, Lift, Swimming Pool, Playgr...",Air-Cond,Kuala Lumpur

# Data Cleaning (handling missing values)

In [8]:
df.columns

Index(['ads_id', 'prop_name', 'completion_year', 'monthly_rent', 'location',
       'property_type', 'rooms', 'parking', 'bathroom', 'size', 'furnished',
       'facilities', 'additional_facilities', 'region'],
      dtype='object')

In [9]:
df.isna().sum()

ads_id                      0
prop_name                 948
completion_year          9185
monthly_rent                2
location                    0
property_type               0
rooms                       6
parking                  5702
bathroom                    6
size                        0
furnished                   5
facilities               2209
additional_facilities    5948
region                      0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19991 entries, 0 to 19990
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ads_id                 19991 non-null  int64
 1   prop_name              19043 non-null  object
 2   completion_year        10806 non-null  float64
 3   monthly_rent           19989 non-null  object
 4   location               19991 non-null  object
 5   property_type          19991 non-null  object
 6   rooms                  19985 non-null  object
 7   parking                14289 non-null  float64
 8   bathroom               19985 non-null  float64
 9   size                   19991 non-null  object
 10  furnished              19986 non-null  object
 11  facilities             17782 non-null  object
 12  additional_facilities  14043 non-null  object
 13  region                 19991 non-null  object
dtypes: float64(3), int64(1), object(10)
memory usage: 2.1+ MB

# copy df to compare later

In [12]:
df_cleaned = df.copy()
df_cleaned.head(1)

,ads_id,prop_name,completion_year,monthly_rent,location,property_type,rooms,parking,bathroom,size,furnished,facilities,additional_facilities,region
0,100323185,The Hipster @ Taman Desa,2022.0,RM 4 200 per month,Kuala Lumpur - Taman Desa,Condominium,5,2.0,6.0,1842 sq.ft.,Fully Furnished,"Minimart, Gymnasium, Security, Playground, Swi...","Air-Cond, Cooking Allowed, Washing Machine",Kuala Lumpur

In [13]:
df_cleaned = df_cleaned.drop(['ads_id', 'completion_year'], axis=1)

In [14]:
df_cleaned['prop_name'] = df_cleaned['prop_name'].fillna('unknown')

In [15]:
df_cleaned['monthly_rent'] = df_cleaned['monthly_rent'].fillna(0)

In [16]:
df_cleaned['rooms']

0          5
1          3
2          3
3          2
4          1
        ...
19986    3.0
19987    4.0
19988    3.0
19989    3.0
19990    1.0
Name: rooms, Length: 19991, dtype: object

In [17]:
df_cleaned['monthly_rent'].unique()

array(['RM 4 200 per month', 'RM 2 300 per month', 'RM 1 000 per month',
       'RM 1 700 per month', 'RM 1 299 per month', 'RM 1 500 per month',
       'RM 2 900 per month', 'RM 1 550 per month', 'RM 1 400 per month',
       'RM 1 350 per month', 'RM 2 600 per month', 'RM 2 000 per month',
       'RM 1 300 per month', 'RM 3 200 per month', 'RM 2 500 per month',
       'RM 1 800 per month', 'RM 1 099 per month', 'RM 1 199 per month',
       'RM 1 100 per month', 'RM 1 750 per month', 'RM 1 900 per month',
       'RM 2 400 per month', 'RM 4 500 per month', 'RM 3 000 per month',
       'RM 1 600 per month', 'RM 2 100 per month', 'RM 1 850 per month',
       'RM 2 700 per month', 'RM 7 000 per month', 'RM 900 per month',
       'RM 7 800 per month', 'RM 850 per month', 'RM 1 650 per month',
       'RM 1 200 per month', 'RM 2 599 per month', 'RM 2 200 per month',
       'RM 700 per month', 'RM 1 399 per month', 'RM 1 450 per month',
       'RM 3 300 per month', 'RM 3 700 per month', 'RM 999 per month',
       'RM 2 499 per month', 'RM 4 000 per month', 'RM 1 948 per month',
       'RM 550 per month', 'RM 1 488 per month', 'RM 750 per month',
       'RM 650 per month', 'RM 1 599 per month', 'RM 1 880 per month',
       'RM 2 800 per month', 'RM 600 per month', 'RM 1 499 per month',
       'RM 800 per month', 'RM 3 800 per month', 'RM 5 800 per month',
       'RM 1 250 per month', 'RM 3 500 per month', 'RM 4 800 per month',
       'RM 1 799 per month', 'RM 4 600 per month', 'RM 450 per month',
       'RM 880 per month', 'RM 2 950 per month', 'RM 3 600 per month',
       'RM 3 400 per month', 'RM 1 050 per month', 'RM 645 per month',
       'RM 2 350 per month', 'RM 2 250 per month', 'RM 1 150 per month',
       'RM 1 999 per month', 'RM 950 per month', 'RM 1 180 per month',
       'RM 2 550 per month', 'RM 2 450 per month', 'RM 2 150 per month',
       'RM 1 502 per month', 'RM 1 501 per month', 'RM 500 per month',
       'RM 350 per month', 'RM 329 999 per month', 'RM 2 650 per month',
       'RM 3 650 per month', 'RM 10 000 per month', 'RM 4 700 per month',
       'RM 5 950 per month', 'RM 2 899 per month', 'RM 200 per month',
       'RM 2 299 per month', 'RM 2 480 per month', 'RM 1 730 per month',
       'RM 1 688 per month', 'RM 2 099 per month', 'RM 1 680 per month',
       'RM 15 000 per month', 'RM 780 per month', 'RM 1 630 per month',
       'RM 5 600 per month', 'RM 2 199 per month', 'RM 11 500 per month',
       'RM 1 380 per month', 'RM 699 per month', 'RM 3 100 per month',
       'RM 4 250 per month', 'RM 2 999 per month', 'RM 16 000 per month',
       'RM 4 876 per month', 'RM 16 800 per month', 'RM 890 per month',
       'RM 10 500 per month', 'RM 5 000 per month', 'RM 2 050 per month',
       'RM 1 198 per month', 'RM 1 788 per month', 'RM 1 988 per month',
       'RM 13 000 per month', 'RM 3 999 per month', 'RM 400 per month',
       'RM 4 899 per month', 'RM 601 per month', 'RM 1 950 per month',
       'RM 7 500 per month', 'RM 3 099 per month', 'RM 1 340 per month',
       'RM 5 500 per month', 'RM 9 500 per month', 'RM 1 280 per month',
       'RM 530 per month', 'RM 680 per month', 'RM 13 500 per month',
       'RM 6 800 per month', 'RM 1 699 per month', 'RM 110 per month',
       'RM 90 per month', 'RM 3 899 per month', 'RM 1 588 per month',
       'RM 1 998 per month', 'RM 3 550 per month', 'RM 3 799 per month',
       'RM 760 per month', 'RM 6 000 per month', 'RM 2 750 per month',
       'RM 9 000 per month', 'RM 5 200 per month', 'RM 1 899 per month',
       'RM 8 999 per month', 'RM 2 799 per month', 'RM 5 300 per month',
       'RM 2 399 per month', 'RM 2 080 per month', 'RM 150 per month',
       'RM 6 900 per month', 'RM 4 300 per month', 'RM 12 000 per month',
       'RM 3 900 per month', 'RM 580 000 per month', 'RM 1 360 per month',
       'RM 4 399 per month', 'RM 910 per month', 'RM 2 888 per month',
       'RM 2 798 per month', 'RM 6 500 per month', 'RM 3 450 per month',
       'RM 100 per month', 'RM 8 500 per month', 'RM 2 998 per month',
       'RM 730 per month', 'RM 580 per month', 'RM 3 299 per month',
       'RM 4 400 per month', 'RM 1 109 per month', 'RM 1 449 per month',
       'RM 250 000 per month', 'RM 2 490 per month', 'RM 1 780 per month',
       'RM 4 900 per month', 'RM 200 000 per month', 'RM 1 398 per month',
       'RM 1 798 per month', 'RM 949 per month', 'RM 288 000 per month',
       'RM 1 330 per month', 'RM 250 per month', 'RM 3 350 per month',
       'RM 2 850 per month', 'RM 2 380 per month', 'RM 830 per month',
       'RM 5 900 per month', 'RM 820 per month', 'RM 120 per month',
       'RM 1 098 per month', 'RM 1 498 per month', 'RM 8 000 per month',
       'RM 3 088 per month', 'RM 1 790 per month', 'RM 330 000 per month',
       'RM 2 400 000 per month', 'RM 1 548 per month',
       'RM 7 900 per month', 'RM 1 690 per month', 'RM 605 per month',
       'RM 1 201 per month', 'RM 602 per month', 'RM 1 203 per month',
       'RM 1 205 per month', 'RM 1 202 per month', 'RM 2 790 per month',
       'RM 1 090 per month', 'RM 1 204 per month', 'RM 1 712 per month',
       'RM 1 298 per month', 'RM 1 388 per month', 'RM 10 300 per month',
       'RM 630 per month', 'RM 980 per month', 'RM 4 888 per month',
       'RM 1 390 per month', 'RM 603 per month', 'RM 1 189 per month',
       'RM 1 990 per month', 'RM 1 980 per month', 'RM 899 per month',
       'RM 720 per month', 'RM 3 499 per month', 'RM 604 per month',
       'RM 11 000 per month', 'RM 780 000 per month', 'RM 180 per month',
       'RM 1 111 per month', 'RM 648 per month', 'RM 3 950 per month',
       'RM 3 120 per month', 'RM 710 per month', 'RM 419 000 per month',
       'RM 418 000 per month', 'RM 3 490 per month', 'RM 998 per month',
       'RM 310 000 per month', 'RM 260 000 per month',
       'RM 2 699 per month', 'RM 1 580 per month', 'RM 4 999 per month',
       'RM 746 per month', 'RM 1 720 per month', 'RM 80 per month',
       'RM 249 900 per month', 'RM 1 480 per month', 'RM 801 per month',
       'RM 3 150 per month', 'RM 4 350 per month', 'RM 145 per month',
       'RM 550 000 per month', 'RM 1 080 per month', 'RM 705 per month',
       'RM 701 per month', 'RM 798 per month', 'RM 3 380 per month',
       'RM 1 048 per month', 'RM 9 600 per month', 'RM 18 500 per month',
       'RM 1 490 per month', 'RM 948 per month', 'RM 1 140 per month',
       'RM 3 198 per month', 'RM 3 599 per month', 'RM 17 000 per month',
       'RM 3 399 per month', 'RM 12 500 per month', 'RM 1 190 per month',
       'RM 1 810 per month', 'RM 2 280 per month', 'RM 810 per month',
       'RM 1 188 per month', 0, 'RM 790 per month', 'RM 870 per month',
       'RM 1 348 per month', 'RM 620 per month', 'RM 4 650 per month',
       'RM 270 per month', 'RM 824 per month', 'RM 670 per month',
       'RM 660 per month', 'RM 1 693 per month', 'RM 380 per month',
       'RM 749 per month', 'RM 4 848 per month', 'RM 125 000 per month',
       'RM 799 per month', 'RM 499 per month', 'RM 920 per month',
       'RM 698 per month', 'RM 849 per month', 'RM 300 per month',
       'RM 690 per month', 'RM 349 898 per month', 'RM 127 898 per month',
       'RM 190 000 per month', 'RM 1 248 per month', 'RM 460 per month',
       'RM 1 260 per month', 'RM 860 per month', 'RM 1 270 per month',
       'RM 1 949 per month', 'RM 996 per month', 'RM 1 288 per month',
       'RM 280 per month', 'RM 930 per month', 'RM 370 per month',
       'RM 1 155 per month', 'RM 695 per month', 'RM 960 per month',
       'RM 1 230 per month', 'RM 1 373 per month', 'RM 390 per month',
       'RM 1 045 per month', 'RM 345 000 per month', 'RM 1 590 per month',
       'RM 770 per month', 'RM 915 per month', 'RM 105 000 per month',
       'RM 1 210 per month', 'RM 190 per month', 'RM 875 per month',
       'RM 1 030 per month', 'RM 1 049 per month', 'RM 995 per month',
       'RM 480 per month', 'RM 898 per month', 'RM 740 per month',
       'RM 549 per month', 'RM 3 990 per month', 'RM 45 000 per month',
       'RM 85 per month', 'RM 290 000 per month', 'RM 430 per month',
       'RM 290 per month', 'RM 2 988 per month', 'RM 1 249 per month',
       'RM 1 598 per month', 'RM 1 698 per month', 'RM 2 398 per month',
       'RM 905 per month', 'RM 5 499 per month', 'RM 480 000 per month',
       'RM 260 per month', 'RM 215 000 per month', 'RM 220 per month',
       'RM 6 888 per month', 'RM 904 per month', 'RM 903 per month',
       'RM 230 000 per month', 'RM 1 158 per month', 'RM 958 per month',
       'RM 1 220 per month', 'RM 689 per month', 'RM 902 per month',
       'RM 450 000 per month', 'RM 599 per month', 'RM 901 per month',
       'RM 9 800 per month', 'RM 4 100 per month', 'RM 722 per month',
       'RM 723 per month', 'RM 970 per month', 'RM 878 per month',
       'RM 879 per month', 'RM 1 430 per month', 'RM 882 per month',
       'RM 881 per month', 'RM 95 000 per month', 'RM 320 000 per month',
       'RM 70 per month', 'RM 889 per month', 'RM 883 per month',
       'RM 3 980 per month', 'RM 1 297 per month', 'RM 649 per month',
       'RM 1 520 per month', 'RM 748 per month', 'RM 656 per month',
       'RM 884 per month', 'RM 658 per month', 'RM 1 070 per month',
       'RM 240 000 per month', 'RM 885 per month'], dtype=object)

In [18]:
# replacing all the unwanted strings in data and eliminating the whitespace with regex 
df_cleaned['monthly_rent(RM)'] = df_cleaned['monthly_rent'].str.replace('RM', '').str.replace('per month', '').str.replace(r'\s+', '', regex=True).fillna(0).astype(int)

In [19]:
df_cleaned['monthly_rent(RM)'].isna().sum()

0

In [20]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19991 entries, 0 to 19990
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   prop_name              19991 non-null  object
 1   monthly_rent           19991 non-null  object
 2   location               19991 non-null  object
 3   property_type          19991 non-null  object
 4   rooms                  19985 non-null  object
 5   parking                14289 non-null  float64
 6   bathroom               19985 non-null  float64
 7   size                   19991 non-null  object
 8   furnished              19986 non-null  object
 9   facilities             17782 non-null  object
 10  additional_facilities  14043 non-null  object
 11  region                 19991 non-null  object
 12  monthly_rent(RM)       19991 non-null  int64
dtypes: float64(2), int64(1), object(10)
memory usage: 2.0+ MB

In [21]:
df_cleaned = df_cleaned.drop('monthly_rent', axis=1)

In [22]:
# from sklearn.preprocessing import LabelEncoder
# label_encoder = LabelEncoder()

# objects = df_cleaned.select_dtypes(include='object')
# for col in objects:
#     df_cleaned[col] = label_encoder.fit_transform(objects[col])

In [23]:
df.rooms.unique()

array(['5', '3', '2', '1', '4', '7', '6', 'More than 10', nan, '9', '3.0',
       '4.0', '2.0', '1.0', '5.0', '9.0', '6.0', '7.0', '10.0'],
      dtype=object)

In [24]:
df_cleaned['rooms'] = df_cleaned['rooms'].fillna(0)

In [25]:
df_cleaned['bathroom'] = df_cleaned['bathroom'].fillna(0).astype(int)
df_cleaned['bathroom']

0        6
1        2
2        2
3        2
4        1
        ..
19986    2
19987    3
19988    2
19989    2
19990    1
Name: bathroom, Length: 19991, dtype: int64

In [26]:
df_cleaned['parking'] = df_cleaned['parking'].fillna(0).astype(int)
df_cleaned['parking']

0        2
1        1
2        0
3        1
4        1
        ..
19986    0
19987    2
19988    2
19989    1
19990    1
Name: parking, Length: 19991, dtype: int64

In [29]:
df_cleaned.furnished = df_cleaned.furnished.replace(np.nan, 'unknown')
df_cleaned.furnished.isna().sum()

0

In [30]:
df_cleaned.facilities = df_cleaned.facilities.replace(np.nan, 'unknown')
df_cleaned.facilities.isna().sum()

0

In [31]:
df_cleaned.additional_facilities = df_cleaned.additional_facilities.replace(np.nan, 'unknown')
df_cleaned.additional_facilities.isna().sum()

0

---

# Feature engineering

In [34]:
df_cleaned.columns

Index(['prop_name', 'location', 'property_type', 'rooms', 'parking',
       'bathroom', 'size', 'furnished', 'facilities', 'additional_facilities',
       'region', 'monthly_rent(RM)'],
      dtype='object')

---

## Average room and price in different property_type

In [168]:
df_new.groupby(['property_type', 'rooms'])['monthly_rent(RM)'].mean().sort_values(ascending=False).round().reset_index().head(10)

       property_type rooms  monthly_rent(RM)
0    Townhouse Condo     4            8062.0
1        Condominium     7            8040.0
2        Condominium     4            7172.0
3  Service Residence   6.0            5868.0
4             Duplex     7            5800.0
5          Apartment     2            5215.0
6        Condominium     6            5137.0
7             Studio     2            5000.0
8  Service Residence     4            4909.0
9        Condominium     5            4293.0

---

## Average parking space in each property_type

In [152]:
round(df_new.groupby(['property_type', 'parking'])['monthly_rent(RM)'].mean().sort_values(ascending=False).reset_index())

,property_type,parking,monthly_rent(RM)
0,Condominium,3,26012.0
1,Duplex,3,4867.0
2,Service Residence,4,4412.0
3,Condominium,4,4228.0
4,Condominium,2,3082.0
5,Townhouse Condo,0,2957.0
6,Duplex,2,2629.0
7,Service Residence,2,2614.0
8,Service Residence,3,2576.0
9,Apartment,7,2500.0
10,Service Residence,1,2496.0
11,Service Residence,5,2325.0
12,Others,5,2300.0
13,Townhouse Condo,2,2196.0
14,Apartment,1,2089.0
15,Condominium,1,2076.0
16,Flat,1,2001.0
17,Condominium,0,1953.0
18,Others,4,1900.0
19,Service Residence,0,1834.0
20,Others,3,1725.0
21,Duplex,0,1724.0
22,Townhouse Condo,1,1657.0
23,Duplex,1,1637.0
24,Flat,0,1618.0
25,Others,0,1492.0
26,Studio,1,1264.0
27,Apartment,2,1252.0
28,Studio,0,1250.0
29,Others,2,1225.0
30,Others,1,1190.0
31,Apartment,5,1150.0
32,Apartment,0,1125.0
33,Service Residence,9,1100.0
34,Apartment,3,1045.0
35,Studio,2,1025.0
36,Apartment,10,760.0
37,Flat,6,750.0
38,Flat,3,738.0
39,Flat,2,712.0
40,Apartment,4,700.0
41,Houses,1,650.0
42,Flat,10,650.0
43,Condo / Services residence / Penthouse / Townh...,0,150.0
44,Condominium,10,110.0
45,Residential,0,100.0
46,Soho,1,85.0
47,Apartment,6,80.0
48,Bungalow House,0,0.0

---

# Average Monthly Price per Facilities

In [37]:
df_cleaned = df_cleaned.reset_index()

In [38]:
normal_facilities = df_cleaned['facilities'].str.split(',', expand=True)
normal_facilities = normal_facilities.fillna('na')
normal_facilities = normal_facilities.reset_index()
normal_facilities

extra_facilities = df_cleaned['additional_facilities'].str.split(',', expand=True).fillna('na').reset_index()
extra_facilities

# total_facilities = pd.concat([normal_facilities, extra_facilities], axis=1)
total_facilities = pd.merge(normal_facilities, extra_facilities, how="inner", on=["index", "index"])
total_facilities

,index,0_x,1_x,2_x,3_x,4_x,5_x,6,7,8,...,10,11,12,13,0_y,1_y,2_y,3_y,4_y,5_y
0,0,Minimart,Gymnasium,Security,Playground,Swimming Pool,Parking,Lift,Barbeque area,Multipurpose hall,...,na,na,na,na,Air-Cond,Cooking Allowed,Washing Machine,na,na,na
1,1,Playground,Parking,Barbeque area,Security,Jogging Track,Swimming Pool,Gymnasium,Lift,Sauna,...,na,na,na,na,Air-Cond,Cooking Allowed,Near KTM/LRT,na,na,na
2,2,Minimart,Jogging Track,Lift,Swimming Pool,na,na,na,na,na,...,na,na,na,na,unknown,na,na,na,na,na
3,3,Parking,Playground,Swimming Pool,Squash Court,Security,Minimart,Gymnasium,Lift,na,...,na,na,na,na,Cooking Allowed,Near KTM/LRT,Washing Machine,na,na,na
4,4,Parking,Security,Lift,Swimming Pool,Playground,Gymnasium,Barbeque area,Minimart,Multipurpose hall,...,Jogging Track,na,na,na,Air-Cond,na,na,na,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19986,19986,Security,Parking,Lift,Minimart,Multipurpose hall,Playground,Jogging Track,na,na,...,na,na,na,na,Near KTM/LRT,na,na,na,na,na
19987,19987,Jogging Track,Barbeque area,Playground,Swimming Pool,Tennis Court,Sauna,na,na,na,...,na,na,na,na,Air-Cond,Cooking Allowed,na,na,na,na
19988,19988,Parking,Security,Lift,Swimming Pool,Playground,Gymnasium,Multipurpose hall,na,na,...,na,na,na,na,Air-Cond,Cooking Allowed,Washing Machine,na,na,na
19989,19989,Parking,Security,Lift,Swimming Pool,Playground,Gymnasium,Sauna,Barbeque area,Minimart,...,Club house,Jogging Track,Tennis Court,Squash Court,Cooking Allowed,Washing Machine,na,na,na,na
19990,19990,Parking,Security,Lift,Swimming Pool,Playground,Gymnasium,Sauna,Barbeque area,Minimart,...,Club house,Jogging Track,Tennis Court,Squash Court,Air-Cond,Cooking Allowed,Washing Machine,na,na,na

In [39]:
fac_col_name = total_facilities.columns
new_fac_col_names = ['facility'+ str(i) for i in range(0,len(fac_col_name))]
total_facilities.columns = new_fac_col_names
total_facilities.rename(columns={'facility0': 'index'}, inplace=True)
total_facilities.head()

,index,facility1,facility2,facility3,facility4,facility5,facility6,facility7,facility8,facility9,...,facility11,facility12,facility13,facility14,facility15,facility16,facility17,facility18,facility19,facility20
0,0,Minimart,Gymnasium,Security,Playground,Swimming Pool,Parking,Lift,Barbeque area,Multipurpose hall,...,na,na,na,na,Air-Cond,Cooking Allowed,Washing Machine,na,na,na
1,1,Playground,Parking,Barbeque area,Security,Jogging Track,Swimming Pool,Gymnasium,Lift,Sauna,...,na,na,na,na,Air-Cond,Cooking Allowed,Near KTM/LRT,na,na,na
2,2,Minimart,Jogging Track,Lift,Swimming Pool,na,na,na,na,na,...,na,na,na,na,unknown,na,na,na,na,na
3,3,Parking,Playground,Swimming Pool,Squash Court,Security,Minimart,Gymnasium,Lift,na,...,na,na,na,na,Cooking Allowed,Near KTM/LRT,Washing Machine,na,na,na
4,4,Parking,Security,Lift,Swimming Pool,Playground,Gymnasium,Barbeque area,Minimart,Multipurpose hall,...,Jogging Track,na,na,na,Air-Cond,na,na,na,na,na

In [40]:
df_new = pd.merge(df_cleaned, total_facilities, how="inner", on=["index", "index"])
df_new = df_new.drop(['index'], axis=1)
df_new.columns

Index(['prop_name', 'location', 'property_type', 'rooms', 'parking',
       'bathroom', 'size', 'furnished', 'facilities', 'additional_facilities',
       'region', 'monthly_rent(RM)', 'facility1', 'facility2', 'facility3',
       'facility4', 'facility5', 'facility6', 'facility7', 'facility8',
       'facility9', 'facility10', 'facility11', 'facility12', 'facility13',
       'facility14', 'facility15', 'facility16', 'facility17', 'facility18',
       'facility19', 'facility20'],
      dtype='object')

In [41]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

columns_needed = [
    'facility1', 'facility2', 'facility3', 'facility4', 'facility5',
    'facility6', 'facility7', 'facility8', 'facility9', 'facility10',
    'facility11', 'facility12', 'facility13', 'facility14', 'facility15',
    'facility16', 'facility17', 'facility18', 'facility19', 'facility20'
]

encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_array = encoder.fit_transform(df_new[columns_needed])
encoded_feature_names = encoder.get_feature_names_out(columns_needed)
encoded_df = pd.DataFrame(encoded_array, columns=encoded_feature_names)

encoded_df = encoded_df.astype(int)
# regex from chatgpt
encoded_df.columns = encoded_df.columns.str.replace(r'facility\d+_', '', regex=True)

# combine both new and encoded data 
df_new = pd.concat([df_new, encoded_df], axis=1)
df_new.head()

,prop_name,location,property_type,rooms,parking,bathroom,size,furnished,facilities,additional_facilities,...,Internet,Near KTM/LRT,Washing Machine,na,Cooking Allowed,Internet,Near KTM/LRT,Washing Machine,na,na
0,The Hipster @ Taman Desa,Kuala Lumpur - Taman Desa,Condominium,5,2,6,1842 sq.ft.,Fully Furnished,"Minimart, Gymnasium, Security, Playground, Swi...","Air-Cond, Cooking Allowed, Washing Machine",...,0,0,0,1,0,0,0,0,1,1
1,Segar Courts,Kuala Lumpur - Cheras,Condominium,3,1,2,1170 sq.ft.,Partially Furnished,"Playground, Parking, Barbeque area, Security, ...","Air-Cond, Cooking Allowed, Near KTM/LRT",...,0,0,0,1,0,0,0,0,1,1
2,Pangsapuri Teratak Muhibbah 2,Kuala Lumpur - Taman Desa,Apartment,3,0,2,650 sq.ft.,Fully Furnished,"Minimart, Jogging Track, Lift, Swimming Pool",unknown,...,0,0,0,1,0,0,0,0,1,1
3,Sentul Point Suite Apartment,Kuala Lumpur - Sentul,Apartment,2,1,2,743 sq.ft.,Partially Furnished,"Parking, Playground, Swimming Pool, Squash Cou...","Cooking Allowed, Near KTM/LRT, Washing Machine",...,0,0,0,1,0,0,0,0,1,1
4,Arte Mont Kiara,Kuala Lumpur - Mont Kiara,Service Residence,1,1,1,494 sq.ft.,Not Furnished,"Parking, Security, Lift, Swimming Pool, Playgr...",Air-Cond,...,0,0,0,1,0,0,0,0,1,1

In [42]:
df_new = df_new.drop(['na','facility1', 'facility2', 'facility3', 'facility4', 'facility5',
    'facility6', 'facility7', 'facility8', 'facility9', 'facility10',
    'facility11', 'facility12', 'facility13', 'facility14', 'facility15',
    'facility16', 'facility17', 'facility18', 'facility19', 'facility20'], axis=1)

In [114]:
round(df_new.groupby(['property_type', 'facilities', 'additional_facilities'])['monthly_rent(RM)'].mean().sort_values(ascending=False).reset_index()).head(6)

,property_type,facilities,additional_facilities,monthly_rent(RM)
0,Condominium,"Security, Playground, Tennis Court, Barbeque a...","Air-Cond, Cooking Allowed, Washing Machine",2400000.0
1,Condominium,"Parking, Security, Swimming Pool, Jogging Track","Air-Cond, Cooking Allowed, Near KTM/LRT, Washi...",780000.0
2,Service Residence,"Parking, Security, Lift, Swimming Pool, Playgr...","Cooking Allowed, Air-Cond",580000.0
3,Condominium,"Minimart, Swimming Pool, Club house, Gymnasium...",unknown,580000.0
4,Condominium,"Parking, Security, Minimart, Squash Court, Pla...","Air-Cond, Cooking Allowed, Near KTM/LRT, Washi...",580000.0
5,Condominium,"Multipurpose hall, Parking, Gymnasium, Securit...","Air-Cond, Cooking Allowed, Near KTM/LRT, Washi...",550000.0

### Average price with properties that has security

In [48]:
round(df_new.groupby(['property_type', 'Security'])['monthly_rent(RM)'].mean().sort_values(ascending=False).reset_index())

,property_type,Security,monthly_rent(RM)
0,Flat,1,12369.0
1,Condominium,1,4045.0
2,Townhouse Condo,0,2540.0
3,Condominium,0,2515.0
4,Service Residence,0,2379.0
5,Service Residence,1,2174.0
6,Duplex,1,1991.0
7,Duplex,0,1899.0
8,Apartment,1,1721.0
9,Townhouse Condo,1,1660.0
10,Apartment,0,1581.0
11,Others,0,1425.0
12,Flat,0,1422.0
13,Studio,1,1322.0
14,Studio,0,1243.0
15,Others,1,1100.0
16,Houses,0,650.0
17,Condo / Services residence / Penthouse / Townh...,0,150.0
18,Residential,0,100.0
19,Soho,0,85.0
20,Bungalow House,0,0.0

---

### Average price based on region in KL

In [51]:
AveragePrice = df_cleaned.groupby(['region', 'property_type'])['monthly_rent(RM)'].mean().reset_index()
round(AveragePrice)

,region,property_type,monthly_rent(RM)
0,Kuala Lumpur,Apartment,2150.0
1,Kuala Lumpur,Condo / Services residence / Penthouse / Townh...,150.0
2,Kuala Lumpur,Condominium,3185.0
3,Kuala Lumpur,Duplex,2153.0
4,Kuala Lumpur,Flat,1659.0
5,Kuala Lumpur,Others,1622.0
6,Kuala Lumpur,Residential,100.0
7,Kuala Lumpur,Service Residence,2738.0
8,Kuala Lumpur,Studio,1758.0
9,Kuala Lumpur,Townhouse Condo,4661.0
10,Selangor,Apartment,1226.0
11,Selangor,Bungalow House,0.0
12,Selangor,Condominium,2079.0
13,Selangor,Duplex,1755.0
14,Selangor,Flat,1604.0
15,Selangor,Houses,650.0
16,Selangor,Others,1307.0
17,Selangor,Service Residence,1967.0
18,Selangor,Soho,85.0
19,Selangor,Studio,1168.0
20,Selangor,Townhouse Condo,1636.0

---