# Data cleaning after feature engineering

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('cleaned_df.csv', low_memory=False)
df.head()

,Unnamed: 0.1,Unnamed: 0,prop_name,location,property_type,rooms,parking,bathroom,size,furnished,...,11,Air-Cond,Cooking Allowed,Internet,Near KTM/LRT,Washing Machine,Cooking Allowed,Internet,Near KTM/LRT,Washing Machine
0,0,0,The Hipster @ Taman Desa,Kuala Lumpur - Taman Desa,Condominium,5,2,6,1842 sq.ft.,Fully Furnished,...,0,1,0,0,0,0,1,0,0,0
1,1,1,Segar Courts,Kuala Lumpur - Cheras,Condominium,3,1,2,1170 sq.ft.,Partially Furnished,...,0,1,0,0,0,0,1,0,0,0
2,2,2,Pangsapuri Teratak Muhibbah 2,Kuala Lumpur - Taman Desa,Apartment,3,0,2,650 sq.ft.,Fully Furnished,...,0,0,0,0,0,0,0,0,0,0
3,3,3,Sentul Point Suite Apartment,Kuala Lumpur - Sentul,Apartment,2,1,2,743 sq.ft.,Partially Furnished,...,0,0,1,0,0,0,0,0,1,0
4,4,4,Arte Mont Kiara,Kuala Lumpur - Mont Kiara,Service Residence,1,1,1,494 sq.ft.,Not Furnished,...,0,1,0,0,0,0,0,0,0,0

In [4]:
df.drop(['Unnamed: 0.1', 'Unnamed: 0',' Club house',' Gymnasium', ' Jogging Track', ' Lift', ' Minimart',
       ' Multipurpose hall', ' Parking', ' Playground', ' Sauna', ' Security',
       ' Squash Court', ' Swimming Pool', ' Tennis Court', ' Barbeque area',
       ' 11', 'Air-Cond', 'Cooking Allowed', 'Internet', 'Near KTM/LRT',
       'Washing Machine', ' Cooking Allowed', ' Internet', ' Near KTM/LRT',
       ' Washing Machine'], axis=1, inplace=True)

In [5]:
df.drop(df[df['prop_name']=='unknown'].index, axis=0, inplace=True)

In [6]:
df['monthly_rent(RM)'] = df['monthly_rent(RM)'].replace(0, df['monthly_rent(RM)'].mean().round())
df.drop(df[df['monthly_rent(RM)'] == 70.0].index,axis=0, inplace=True)
df.drop(df[df['monthly_rent(RM)'] == 85.0].index,axis=0, inplace=True)
df.drop(df[df['monthly_rent(RM)'] == 80.0].index,axis=0, inplace=True)
df.drop(df[df['monthly_rent(RM)'] == 90.0].index,axis=0, inplace=True)

In [7]:
df.drop(df[df['size'] == '1 sq.ft.'].index,axis=0, inplace=True)

In [8]:
df['rooms'] = pd.to_numeric(df['rooms'], errors='coerce')

df['rooms'] = df.rooms.replace(0, df.rooms.mean().round())
df['rooms'] = df.rooms.fillna(df.rooms.mean().round())

In [9]:
df['size'] = df['size'].str.replace(r'\s+sq\.ft\.', '', regex=True).astype(float)
df['size']

0        1842.0
1        1170.0
2         650.0
3         743.0
4         494.0
          ...
19986    1000.0
19987    1427.0
19988    1270.0
19989    1100.0
19990     580.0
Name: size, Length: 19033, dtype: float64

In [10]:
df.head()

,prop_name,location,property_type,rooms,parking,bathroom,size,furnished,region,monthly_rent(RM),...,Minimart,Multipurpose hall,Parking,Playground,Sauna,Security,Squash Court,Swimming Pool,Tennis Court,unknown
0,The Hipster @ Taman Desa,Kuala Lumpur - Taman Desa,Condominium,5.0,2,6,1842.0,Fully Furnished,Kuala Lumpur,4200,...,1,0,0,0,0,0,0,0,0,0
1,Segar Courts,Kuala Lumpur - Cheras,Condominium,3.0,1,2,1170.0,Partially Furnished,Kuala Lumpur,2300,...,0,0,0,1,0,0,0,0,0,0
2,Pangsapuri Teratak Muhibbah 2,Kuala Lumpur - Taman Desa,Apartment,3.0,0,2,650.0,Fully Furnished,Kuala Lumpur,1000,...,1,0,0,0,0,0,0,0,0,0
3,Sentul Point Suite Apartment,Kuala Lumpur - Sentul,Apartment,2.0,1,2,743.0,Partially Furnished,Kuala Lumpur,1700,...,0,0,1,0,0,0,0,0,0,0
4,Arte Mont Kiara,Kuala Lumpur - Mont Kiara,Service Residence,1.0,1,1,494.0,Not Furnished,Kuala Lumpur,1299,...,0,0,1,0,0,0,0,0,0,0

In [11]:
# df.to_csv('featured_data.csv', index=False)